[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "nanorc.d"]
	path = nanorc.d
	url = https://github.com/scopatz/nanorc.git
[submodule "oh-my-zsh-custom/plugins/syntax-highlighting"]
	path = oh-my-zsh-custom/plugins/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
